:root {
    --gold-accent-color: #e4b861;
    --red-accent-color: #9e0404ce;
    --map-color: rgb(51,51,51);
  }

.widget {
    border-top: 4px solid #1a1a1a;
    margin-bottom: 3.5em;
    padding-top: 1.75em;
  }

  .side-social-icons a {
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 110% auto;
    background-color: rgba(18, 19, 20, 0.75) !important;
    white-space: nowrap;

    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
  }

  .alert {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 20;
  }

  .alert a {
    color: black !important;
    text-decoration: underline;
  }

  .jumbotron {
    background-color: #282828 !important;
  }

  .jumbotron h3 {
    color: var(--gold-accent-color);
  }

  #profilePicture {
      max-height: 500px;
  }

  .bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}