    .widget {
    border-top: 4px solid #1a1a1a;
    margin-bottom: 3.5em;
    padding-top: 1.75em;
  }

  .side-social-icons a {
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 110% auto;
    background-color: rgba(18, 19, 20, 0.75) !important;
    white-space: nowrap;

    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
  }

  .alert {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 20;
  }

  .alert a {
    color: black !important;
    text-decoration: underline;
  }

  .jumbotron {
    background-color: #282828 !important;
  }

  .jumbotron h3 {
    color: #868e96;
  }

  #profilePicture {
      max-height: 500px;
  }