<footer class="page-footer">
    <!-- Footer Elements -->
    <div class="flex-nowrap">
        <!-- Social buttons -->
        <div class="social-icons text-center">
            <a href="https://www.facebook.com/JoeMaurer12" target="_blank" rel="noopener">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.linkedin.com/in/josephamaurer/" target="_blank" rel="noopener">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://twitter.com/maurerpwer" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://github.com/maurerpower12" target="_blank" rel="noopener">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://medium.com/@josephamaurer" target="_blank" rel="noopener">
                <i class="fab fa-medium-m"></i>
            </a>
            <a href="https://dev.to/mwrpwr" target="_blank">
                <i class="fab fa-dev"></i>
            </a>
        </div>
        <!-- Social buttons -->
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center">
        © 2021 Copyright Joseph A Maurer; All right reserved,<br/>
        Slot machine images and logos are © Copyright IGT,
        Orange Is The New Black is © Copyright Lions Gate Entertainment Inc.,
        "Wheel of Fortune®" is © Copyright Califon Productions, Inc. and Sony Corporation of America. All Rights Reserved.<br/>
        The information provided by the content on this site is for personal and educational use only.
    </div>
    <!-- Copyright -->
</footer>