<footer class="page-footer text-center">
    <!-- Footer Elements -->
    <div class="social-icons d-inline-flex align-content-center flex-nowrap">
        <div class="p-2">
            <a href="https://www.linkedin.com/in/josephamaurer/" target="_blank" rel="noopener" title="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    
        <div class="p-2">
            <a href="https://twitter.com/maurerpwer" target="_blank" rel="noopener" title="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    
        <div class="p-2">
            <a href="https://github.com/maurerpower12" target="_blank" rel="noopener" title="GitHub">
                <i class="fab fa-github"></i>
            </a>
        </div>
    
        <div class="p-2">
            <a href="https://medium.com/@josephamaurer" target="_blank" rel="noopener" title="Medium">
                <i class="fab fa-medium-m"></i>
            </a>
        </div>
    
        <div class="p-2">
            <a href="https://dev.to/mwrpwr" target="_blank" rel="noopener" title="Dev.to">
                <i class="fab fa-dev"></i>
            </a>
        </div>
        <!-- Social buttons -->
    </div>
    <!-- Copyright -->
    <div class="footer-copyright">
        © 2021 Copyright Joseph A Maurer; All right reserved,<br/>
        Slot machine images and logos are © Copyright IGT,
        Orange Is The New Black is © Copyright Lions Gate Entertainment Inc.,
        "Wheel of Fortune®" is © Copyright Califon Productions, Inc. and Sony Corporation of America. All Rights Reserved.<br/>
        The information provided by the content on this site is for personal and educational use only.
    </div>
    <!-- Copyright -->
</footer>