<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="../Img/house.ico" />
    <link rel="apple-touch-icon" href="../Img/Home.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="../Img/Home.png">

    <title>HQ Demo</title>

    <link href="../Css/StaticNavStyle.css" rel="stylesheet" />
    <link href="../Css/DefaultStyles.css" rel="stylesheet" />
    <link href="../Css/NotificationCenterStyle.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/9e62847280.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

    <script src="../Scripts/lib/moment.min.js"></script>
    <link href="../Content/fullcalendar.css" rel="stylesheet" />
    <link href="../Content/fullcalendar.min.css" rel="stylesheet" />
    <script src="../Scripts/fullcalendar.min.js"></script>
    <script src="../Scripts/fullcalendar.js"></script>
</head>

<body id="uxMain">
    <header class="uxHeader" style="position: fixed; top: 0; z-index: 100;">
        <div id="uxNotificationCenter" style="display: none;">
            <h4 style="display: inline-block">Notification(s)</h4>
            <a id="uxRefresh" class="btn btn-default pull-right" style="display: inline-block"><i
                    class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>

            <hr />
            <ul class="notifications">
                <li class="notification">
                    <p class="text-muted pull-left">Mandi Smart</p>
                    <p class="text-muted pull-right">05/21/2017 7:45:21 AM</p>
                    <br />
                    <hr />
                    Your paperwork is late!
                    <p class="text-muted pull-right">
                        <a href='' class="btn btn-danger"><i class="fa fa-times-circle fa-2x"
                                aria-hidden="true"></i></a>

                        <a href='' class="btn btn-info"><i class="fa fa-chevron-circle-right fa-2x"
                                aria-hidden="true"></i></a>
                    </p>
                </li>

                <li class="notification">
                    <p class="text-muted pull-left">Rusty Schmo</p>
                    <p class="text-muted pull-right">05/21/2017 7:45:21 AM</p>
                    <br />
                    <hr />
                    Did you see the Yankee game last night?!
                    <p class="text-muted pull-right">
                        <a href='' class="btn btn-danger"><i class="fa fa-times-circle fa-2x"
                                aria-hidden="true"></i></a>

                        <a href='' class="btn btn-info"><i class="fa fa-chevron-circle-right fa-2x"
                                aria-hidden="true"></i></a>
                    </p>
                </li>
            </ul>
        </div>

        <!-- @*This is the main nav when at full rez*@ -->
        <div id="uxStaticSideNav" class="sidenav" style="z-index: 1000;">
            <div class="uxStaticNavTop" style="overflow: hidden;">
                <img id="uxUserProfilePic" src="../Img/img_avatar.png" width="100" height="100">
                <p>John Smith</p>
                <div class="uxHiddenProfile" style="margin-right: 1px;">
                    <span class="fa-stack has-badge fa-1x" data-count="2" id="uxNotificationBtn" style="cursor:pointer"
                        onclick="toggleNotificationCenter()">
                        <i class="fa fa-circle fa-stack-2x fa-1x"></i>
                        <i class="fa fa-bell fa-stack-1x fa-inverse" style="color:black"></i>
                    </span>
                    <span class="fa-stack has-badge fa-1x">
                        <i class="fa fa-circle fa-stack-2x fa-1x"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse" style="color:black"></i>
                    </span>
                    <span class="fa-stack has-badge fa-1x">
                        <i class="fa fa-circle fa-stack-2x fa-1x"></i>
                        <a href="https://www.josephamaurer.com"><i class="fa fa-times fa-stack-1x fa-inverse"
                                style="color:black"></i></a>
                    </span>
                </div>
            </div>
            <ul style="padding-left: 5px;" id="uxAppIcons">
                <li title="Dashboard"><a href="./_Layout.html"><img src="../Img/HQLogo/Home.png" /></a></li>
                <li title="Roster"><a href="./Roster.html"><img src="../Img/HQLogo/Roster-V3.png" /></a></li>
                <li title="Incident Report"><a href=""><img src="../Img/HQLogo/IR-V4.png" /></a></li>
                <li title="CDL"><a href=""><img src="../Img/HQLogo/Dev-V1.png" /></a></li>
                <li title="PreForm"><a href=""><img src="../Img/HQLogo/PF-V1.png" /></a></li>
                <li title="Calendar"><a href="./Calendar.html"><img src="../Img/HQLogo/Cal-V1.png" /></a></li>
                <li title="Duty"><a href=""><img src="../Img/HQLogo/Duty.png" /></a></li>
                <li title="Document Library" style="padding-bottom:75px;"><a href=""><img
                            src="../Img/HQLogo/doc.png" /></a></li>
            </ul>
        </div>

    </header>
    <div class="uxContentBody">
        <style>
            /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
            .row.content {
                height: 550px
            }

            /* On small screens, set height to 'auto' for the grid */
            @media screen and (max-width: 767px) {
                .row.content {
                    height: auto;
                }
            }

            #uxAnnouncement:hover {
                background-color: #373a3c;
                color: white;
                cursor: pointer;
            }
        </style>
        <div class="container">
            <div class="col-sm-9" style="width: 100% !important;">
                <h1 style="color: black;">Calendar</h1>
                <div class="alert alert-danger" role="alert">
                    In the live project events were populated dynamically from the database. This is just a static preview!
                </div>
                <div id="calendar"></div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <script type="text/javascript" src="../JS/home.js"></script>
    <script type="text/javascript">
        function toggleNotificationCenter() {
            var x = document.getElementById("uxNotificationCenter");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        
        $(document).ready(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                eventClick: function (event) {
                        alert("Title: " + event.title + " \n\nDescription: " + event.Description + " \n\nStart: " + event.start.toDate()  + " \n\n All Day ? " + event.allDay);
                },
                header: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                defaultView: $(window).width() < 765 ? 'listWeek':'month',

                allDaySlot: true,
                selectable: true,
                slotMinutes: 15,

                editable: false, // Don't allow editing of events},
                initialDate: date.getDate(),
                events: [
                    {
                        title: 'All Day Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d)
                    },
                    {
                        title: 'Long Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d-2),
                        end: new Date(y, m, d)
                    },
                    {
                        title: 'Long Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d-15),
                        end: new Date(y, m, d-12),
                        color: 'teal'
                    },
                    {
                        id: 999,
                        title: 'Repeating Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d-7),
                        color: 'red',
                        textColor: 'black'
                    },
                    {
                        id: 999,
                        title: 'Repeating Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d+7),
                        color: 'red',
                        textColor: 'black'
                    },
                    {
                        id: 999,
                        title: 'Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d+3),
                        color: 'green',
                        textColor: 'white'
                    },
                    {
                        id: 999,
                        title: 'Lunch',
                        Description: "Dutch Bros?",
                        start: new Date(y, m, d+12),
                        color: 'green',
                        textColor: 'white'
                    },
                    {
                        id: 999,
                        title: 'Townhall',
                        Description: "Call in.",
                        start: new Date(y, m, d+14),
                        color: 'blue',
                        textColor: 'white'
                    },
                    {
                        id: 999,
                        title: 'One on One',
                        Description: "Call in.",
                        start: new Date(y, m, d+5),
                        color: 'purple',
                        textColor: 'white'
                    }
                ]
            });
        });
        $(window).resize(function() {
            if(window.innerWidth < 765){
                $('#calendar').fullCalendar('changeView', 'listWeek');
            } else {
                $('#calendar').fullCalendar('changeView', 'month');
            }
        });
    </script>
</body>
</html>