<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="../Img/house.ico" />
    <link rel="apple-touch-icon" href="../Img/Home.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="../Img/Home.png">

    <title>HQ Demo</title>

    <link href="../Css/StaticNavStyle.css" rel="stylesheet" />
    <link href="../Css/DefaultStyles.css" rel="stylesheet" />
    <link href="../Css/NotificationCenterStyle.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/9e62847280.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

    <script src="../Scripts/lib/moment.min.js"></script>
    <link href="../Content/fullcalendar.css" rel="stylesheet" />
    <link href="../Content/fullcalendar.min.css" rel="stylesheet" />
    <script src="../Scripts/fullcalendar.min.js"></script>
    <script src="../Scripts/fullcalendar.js"></script>
</head>

<body id="uxMain">
    <div id="Header"></div>
    <div class="uxContentBody">
        <div class="container">
            <div class="col-sm-9" style="width: 100% !important;">
                <h1 style="color: black;">Calendar</h1>
                <div class="alert alert-danger" role="alert">
                    In the live project events were populated dynamically from the database. This is just a static preview!
                </div>
                <div id="calendar"></div>
                <div class="pull-right">
                    <a href="https://fullcalendar.io" target="_blank">Powered by Full Calendar</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <script type="text/javascript" src="../JS/home.js"></script>
    <script type="text/javascript">
        // Load the navigation page dynamically
        $(function(){
            $("#Header").load("./Navigation.html"); 
        });

        $(document).ready(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                eventClick: function (event) {
                        alert("Title: " + event.title + " \n\nDescription: " + event.Description + " \n\nStart: " + event.start.toDate()  + " \n\n All Day ? " + event.allDay);
                },
                header: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                defaultView: $(window).width() < 765 ? 'listWeek':'month',

                allDaySlot: true,
                selectable: true,
                slotMinutes: 15,

                editable: false, // Don't allow editing of events},
                initialDate: date.getDate(),
                events: [
                    {
                        title: 'All Day Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d)
                    },
                    {
                        title: 'Long Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d-2),
                        end: new Date(y, m, d)
                    },
                    {
                        title: 'Long Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d-15),
                        end: new Date(y, m, d-12),
                        color: 'teal'
                    },
                    {
                        id: 999,
                        title: 'Repeating Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d-7),
                        color: 'red',
                        textColor: 'black'
                    },
                    {
                        id: 999,
                        title: 'Repeating Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d+7),
                        color: 'red',
                        textColor: 'black'
                    },
                    {
                        id: 999,
                        title: 'Meeting',
                        Description: "Meet in the confrence room",
                        start: new Date(y, m, d+3),
                        color: 'green',
                        textColor: 'white'
                    },
                    {
                        id: 999,
                        title: 'Lunch',
                        Description: "Dutch Bros?",
                        start: new Date(y, m, d+12),
                        color: 'green',
                        textColor: 'white'
                    },
                    {
                        id: 999,
                        title: 'Townhall',
                        Description: "Call in.",
                        start: new Date(y, m, d+14),
                        color: 'blue',
                        textColor: 'white'
                    },
                    {
                        id: 999,
                        title: 'One on One',
                        Description: "Call in.",
                        start: new Date(y, m, d+5),
                        color: 'purple',
                        textColor: 'white'
                    }
                ]
            });
        });
        $(window).resize(function() {
            if(window.innerWidth < 765){
                $('#calendar').fullCalendar('changeView', 'listWeek');
            } else {
                $('#calendar').fullCalendar('changeView', 'month');
            }
        });
    </script>
</body>
</html>