<header class="uxHeader">
    <div class="modal fade" id="uxNotificationCenter" tabindex="-1" role="dialog" aria-labelledby="notifcations"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="notificationLabel">Notification(s)</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="notifications">
                        <li class="notification">
                            <p class="text-muted pull-left">Mandi Smart</p>
                            <p class="text-muted pull-right">05/21/2017 7:45:21 AM</p>
                            <br />
                            <hr />
                            Your paperwork is late!
                            <p class="text-muted pull-right">
                                <a href='' class="btn btn-danger"><i class="fa fa-times-circle fa-2x"
                                        aria-hidden="true"></i></a>

                                <a href='' class="btn btn-info"><i class="fa fa-chevron-circle-right fa-2x"
                                        aria-hidden="true"></i></a>
                            </p>
                        </li>

                        <li class="notification">
                            <p class="text-muted pull-left">Rusty Schmo</p>
                            <p class="text-muted pull-right">05/21/2017 7:45:21 AM</p>
                            <br />
                            <hr />
                            Did you see the Yankee game last night?!
                            <p class="text-muted pull-right">
                                <a href='' class="btn btn-danger"><i class="fa fa-times-circle fa-2x"
                                        aria-hidden="true"></i></a>

                                <a href='' class="btn btn-info"><i class="fa fa-chevron-circle-right fa-2x"
                                        aria-hidden="true"></i></a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- @*This is the main nav when at full rez*@ -->
    <div id="uxStaticSideNav" class="sidenav">
        <div class="uxStaticNavTop" style="overflow: hidden;">
            <img id="uxUserProfilePic" src="../Img/loading.png" width="100" height="100">
            <p id="uxUserName"></p>
            <div class="uxHiddenProfile">
                <span class="fa-stack has-badge fa-1x" data-count="2" id="uxNotificationBtn" style="cursor:pointer"
                    onclick="toggleNotificationCenter()">
                    <i class="fa fa-circle fa-stack-2x fa-1x"></i>
                    <i class="fa fa-bell fa-stack-1x fa-inverse" style="color:black"></i>
                </span>
                <span class="fa-stack has-badge fa-1x">
                    <i class="fa fa-circle fa-stack-2x fa-1x"></i>
                    <i class="fa fa-cog fa-stack-1x fa-inverse" style="color:black"></i>
                </span>
                <span class="fa-stack has-badge fa-1x">
                    <i class="fa fa-circle fa-stack-2x fa-1x"></i>
                    <a href="https://www.josephamaurer.com"><i class="fa fa-times fa-stack-1x fa-inverse"
                            style="color:black"></i></a>
                </span>
            </div>
        </div>
        <ul style="padding-left: 5px;" id="uxAppIcons">
            <li title="Dashboard"><a href="./_Layout.html"><img src="../Img/HQLogo/Home.png" /></a></li>
            <li title="Roster"><a href="./Roster.html"><img src="../Img/HQLogo/Roster-V3.png" /></a></li>
            <li title="Incident Report"><a href="./Incident.html"><img src="../Img/HQLogo/IR-V4.png" /></a></li>
            <li title="CDL"><a href="./Development.html"><img src="../Img/HQLogo/Dev-V1.png" /></a></li>
            <li title="PreForm"><a href="./PreForm.html"><img src="../Img/HQLogo/PF-V1.png" /></a></li>
            <li title="Calendar"><a href="./Calendar.html"><img src="../Img/HQLogo/Cal-V1.png" /></a></li>
            <li title="Duty"><a href="./Duty.html"><img src="../Img/HQLogo/Duty.png" /></a></li>
            <li title="Document Library" style="padding-bottom:75px;"><a href=""><img src="../Img/HQLogo/doc.png" /></a>
            </li>
        </ul>
    </div>
</header>

<div class="fa-stack fa-2x" style="position:fixed; bottom:25px; right:25px; z-index: 9999;">
    <i class="fa fa-circle fa-stack-2x"></i>
    <a href="../../../hq.html" target="_blank">
        <i class="fas fa-info fa-inverse fa-stack-1x"></i>
    </a>
</div>

<script type="text/javascript">
    function toggleNotificationCenter() {
        $('#uxNotificationCenter').modal('show');
    }

    // Load the navigation page dynamically
    $(function(){
        LoadRandomAvatarImage(); 
    });

    // Loads a random avatar image from the avatar folder.
    function LoadRandomAvatarImage() {
        let lookup = ["John Smith", "Jane Smith", "Timmy Smith",
                        "Karen Smith", "Lauren Smith"];
        let imgNum = Math.floor((Math.random() * lookup.length)+1);
        let imgName = 'img_avatar'+imgNum+'.png';
        document.getElementById("uxUserProfilePic").src = "../Img/Avatars/" + imgName;
        document.getElementById("uxUserName").innerHTML = lookup[imgNum-1];
    }
</script>