<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="../Img/house.ico" />
    <link rel="apple-touch-icon" href="../Img/Home.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="../Img/Home.png">

    <title>HQ Demo ~ Duty Log</title>

    <link href="../Css/StaticNavStyle.css" rel="stylesheet" />
    <link href="../Css/DefaultStyles.css" rel="stylesheet" />
    <link href="../Css/NotificationCenterStyle.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="../Content/fontawesome-free-5.13.1/css/all.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

    <script src="../Scripts/lib/moment.min.js"></script>
</head>

<body id="uxMain">
    <div id="Header"></div>
    <div class="uxContentBody">
        <div class="container">
            <div class="col-sm-9" style="width: 100% !important;">
                <h1 style="color: black;">Duty Log</h1>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <script type="text/javascript" src="../JS/home.js"></script>
    <script type="text/javascript">
        // Load the navigation page dynamically
        $(function(){
            $("#Header").load("./Navigation.html"); 
        });
    </script>
</body>
</html>