@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
#uxSmallBody {
    margin-right: 205px;
}
/*#uxBlockScroll::-webkit-scrollbar { 
    display: none; 
}*/
div::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.top{
    position: fixed;
    height: 75px;
    top: 0;
    right: 0;
    margin-right: 55px;
    /*margin-top: 45px;*/
    z-index: 99999;
}
.uxBlur {
    position: fixed;
    height: 75px;
    top: 0;
    margin-right: 55px;
    /*margin-top: 45px;*/
    z-index: 99999;
    /*-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);*/
}
.send{
	text-transform: uppercase;
	font-weight: 700;
	float: right;
	margin-right: 5%;
	cursor: pointer;
    user-select:none;
}
.rightnav {
    background-color: #f1f5f8;
    height: 100%;
    width: 205px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 45px;
    text-align:center;
}
.avatar img {
    margin-top: 5px;
    border-radius: 50%;
}
.write-form {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    display:inline;
    padding-right: 2px !important;
    margin-right: 5px;
    height: 100px;
    background-color: #f1f5f8;
}

.sender
{
    background-color: #7bc4ef;
    float: right;
    word-wrap: break-word;
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
    width: 100%;

}
.receiver {
    background-color: #D7D7D7;
    float: left;
    word-wrap: break-word;
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
    width: 100%;
}

.messages {
  padding-left: 0px;

}
.messages-chat{margin-bottom:125px !important; margin-top:96px !important; overflow:hidden; overflow-y:auto;}

/*Smaller screen size*/
@media only screen and (max-width: 650px) {
.avatar img {
    margin-top: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
}
.rightnav {
    resize: horizontal;
}