.notification {
    background-color: #D7D7D7;
    color: black;
    float: left;
    word-wrap: break-word;
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
    width: 95%;
}
.notifications {
  max-height: 100vh;
  overflow:auto;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 550px
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

#uxAnnouncement:hover {
    background-color: #373a3c;
    color: white;
    cursor: pointer;
}