/*.chip {
    padding: 0 25px;
    height: 100px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}*/
.modal-header {
        padding: 0 25px;
    height: 100px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.chip h4 {
   display: inline-block;
   vertical-align: middle;
   text-align: center;
}

.modal-footer a {
    color: white!important;
    text-decoration: none !important;
}