.uxContentBody {
    margin-left: 120px;
}

div::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.sidenav a {
    text-decoration: none;
    /*color: #818181;*/
    color: black;
    display: block;
    transition: 0.3s;
    font-size: 25px !important;
    right: 25px;
    align-content: space-between;
    float: left !important;
    width: 250px;
    text-align: left;
}

.sidenav li a img {
    width: 90px !important;
    height: 90px !important;
}

/*Smaller screen size*/
@media only screen and (max-width: 649px) {
    .uxContentBody {
        margin-left: 60px;
    }

    .sidenav {
        height: 100%;
        width: 60px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #637081;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 75px;
        text-align: center;
        color: white;
        z-index: 1000;
    }

        .sidenav li a img {
            width: 40px !important;
            height: 40px !important;
        }
        #uxUserProfilePic{
            float: left;
            margin: 5px 10px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
        .uxStaticNavTop {
            position: fixed; top: 0; z-index: 100;
            width: inherit;
            background-color: #373a3c;
            text-align: center;
        }
        #uxAppIcons {
            padding-top: 100px;
        }
        #uxLogMeIn i {
            font-size: 1em !important;
        }
        #uxLoginText {
            text-decoration: none !important;
            padding-left: 0;
            font-size: 15px;
        }
        #uxNotificationCenter {
            margin-left: 60px;
        }
}
/*Full Screen size*/
@media only screen and (min-width: 650px) {
    .uxContentBody {
        margin-left: 120px;
    }

    .sidenav {
        height: 100%;
        width: 120px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #8E8E93;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 125px;
        text-align: center;
        color: white;
    }
    #uxUserProfilePic {
        float: left;
        margin: 5px 30px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    .uxStaticNavTop {
        position: fixed; top: 0; z-index: 100;
        width: inherit;
        background-color: #373a3c;
        text-align: center;
    }
      #uxAppIcons {
            padding-top: 5px;
        }
    #uxLoginText {
            text-decoration: none !important;
            padding-left: 20px;
            font-size: 15px;
        }
     #uxNotificationCenter {
        margin-left: 120px;
    }
}


.fa-stack[data-count]:after{
  position:absolute;
  right:-15%;
  top:-15%;
  content: attr(data-count);
  font-size:60%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.95);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}
#uxAppIcons {
    transition: 0.3s;
}